<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the address_init() hook (in hooks/address.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="address-address1-<%%VALUE(id)%%>" class="address-address1"><%%SELECT%%><%%VALUE(address1)%%><%%ENDSELECT%%></td>
		<td id="address-address2-<%%VALUE(id)%%>" class="address-address2"><%%SELECT%%><%%VALUE(address2)%%><%%ENDSELECT%%></td>
		<td id="address-address3-<%%VALUE(id)%%>" class="address-address3"><%%SELECT%%><%%VALUE(address3)%%><%%ENDSELECT%%></td>
		<td id="address-town-<%%VALUE(id)%%>" class="address-town"><%%SELECT%%><%%VALUE(town)%%><%%ENDSELECT%%></td>
		<td id="address-county-<%%VALUE(id)%%>" class="address-county"><%%SELECT%%><%%VALUE(county)%%><%%ENDSELECT%%></td>
		<td id="address-country-<%%VALUE(id)%%>" class="address-country"><%%SELECT%%><%%VALUE(country)%%><%%ENDSELECT%%></td>
		<td id="address-postcode1-<%%VALUE(id)%%>" class="address-postcode1"><%%SELECT%%><%%VALUE(postcode1)%%><%%ENDSELECT%%></td>
		<td id="address-postcode2-<%%VALUE(id)%%>" class="address-postcode2"><%%SELECT%%><%%VALUE(postcode2)%%><%%ENDSELECT%%></td>
