<!-- Edit this file to change the layout of the detail view form -->

<script src="resources/datepicker/js/datepicker.packed.js"></script>
<link href="resources/datepicker/css/datepicker.css" rel="stylesheet">

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="leads_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="leads_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<div class="form-group">
					<label for="name" class="control-label col-lg-3">Name <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#name-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="name-description"><div class="alert alert-info">The name of the client</div></span>

						<input maxlength="40" type="text" class="form-control" name="name" id="name" value="<%%VALUE(name)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="control-label col-lg-3">Email <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#email-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="email-description"><div class="alert alert-info">Best Email address to use</div></span>

						
						<div>
							<a id="email-link" href="mailto:<%%VALUE(email)%%>" target="_blank"><i class="glyphicon glyphicon-envelope text-info" title="<%%VALUE(email)%%>"></i></a>
							<label for="email"><button type="button" id="email-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#email" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
						</div>
						<script>jQuery(function(){ var e_email = '<%%VALUE(email)%%>'; if(e_email == '' || e_email == '&nbsp;' || e_email == 'blank.gif') jQuery('#email-link').hide(); });</script><input maxlength="40" type="text" class="form-control collapse" name="email" id="email" value="<%%VALUE(email)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="phone" class="control-label col-lg-3">Phone <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#phone-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="phone-description"><div class="alert alert-info">Best Phone Number to use</div></span>

						<input maxlength="20" type="text" class="form-control" name="phone" id="phone" value="<%%VALUE(phone)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="prop_area" class="control-label col-lg-3">Property area <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#prop_area-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="prop_area-description"><div class="alert alert-info">Type the first part of the postcode or town name here.</div></span>

						<input maxlength="10" type="text" class="form-control" name="prop_area" id="prop_area" value="<%%VALUE(prop_area)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="tenanted" class="control-label col-lg-3">Tenanted <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#tenanted-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="tenanted-description"><div class="alert alert-info">Is the property currently tenanted?</div></span>

						<%%COMBO(tenanted)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="notes" class="control-label col-lg-3">Notes</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="notes" id="notes" rows="5"><%%VALUE(notes)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="date_entered" class="control-label col-lg-3">Date entered</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="date_entered"><%%COMBOTEXT(date_entered)%%></div>
					</div>
				</div>

				<div class="form-group">
					<label for="date_contacted" class="control-label col-lg-3">Date contacted</label>
					<div class="col-lg-9">
						<%%COMBO(date_contacted)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="est_value" class="control-label col-lg-3">Est. market value <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#est_value-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="est_value-description"><div class="alert alert-info">What is the stimated current market value of the property?</div></span>

						<input maxlength="10" type="text" class="form-control" name="est_value" id="est_value" value="<%%VALUE(est_value)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="os_capital" class="control-label col-lg-3">O/S capital <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#os_capital-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="os_capital-description"><div class="alert alert-info">How much is left on the mortgage to pay?</div></span>

						<input maxlength="15" type="text" class="form-control" name="os_capital" id="os_capital" value="<%%VALUE(os_capital)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="rental_income" class="control-label col-lg-3">Rental income <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#rental_income-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="rental_income-description"><div class="alert alert-info">Monthly rental income</div></span>

						<input maxlength="9" type="text" class="form-control" name="rental_income" id="rental_income" value="<%%VALUE(rental_income)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="finance_costs" class="control-label col-lg-3">Finance costs <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#finance_costs-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="finance_costs-description"><div class="alert alert-info">Monthly mortgage (or other finance) costs</div></span>

						<input maxlength="10" type="text" class="form-control" name="finance_costs" id="finance_costs" value="<%%VALUE(finance_costs)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="other_costs" class="control-label col-lg-3">Other costs <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#other_costs-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="other_costs-description"><div class="alert alert-info">Other monthly costs (eg. Managing Agent Fees, Insurances etc.)</div></span>

						<input maxlength="9" type="text" class="form-control" name="other_costs" id="other_costs" value="<%%VALUE(other_costs)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="income_tax_band" class="control-label col-lg-3">Income tax band <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#income_tax_band-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="income_tax_band-description"><div class="alert alert-info">What income tax band is the client currently in?</div></span>

						<%%COMBO(income_tax_band)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="leads_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode){
				setTimeout(function(){
					window.parent.jQuery('.modal').modal('hide');
				}, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });


			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			/* find and hide parent links if field label has data 'parent_link' set to 'view_parent_hidden' */
			$j('label[data-parent_link=view_parent_hidden]').each(function(){
				$j(this).parents('.form-group').find('.view_parent').hide();
			});

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length){
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}'){
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link){
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function(){
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode){
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=leads&id=<%%URLVALUE(id)%%>',
					function(resp){
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=leads&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function(){
				if($j('#deselect.btn-warning').length){
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>