<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the loan_init() hook (in hooks/loan.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="loan-loan_type-<%%VALUE(id)%%>" class="loan-loan_type text-left"><%%SELECT%%><%%VALUE(loan_type)%%><%%ENDSELECT%%></td>
		<td id="loan-property_id-<%%VALUE(id)%%>" class="loan-property_id text-left"><%%SELECT%%><%%VALUE(property_id)%%><%%ENDSELECT%%></td>
		<td id="loan-broker_id-<%%VALUE(id)%%>" class="loan-broker_id text-left"><%%SELECT%%><%%VALUE(broker_id)%%><%%ENDSELECT%%></td>
		<td id="loan-date-<%%VALUE(id)%%>" class="loan-date text-left"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
		<td id="loan-amount-<%%VALUE(id)%%>" class="loan-amount text-left"><%%SELECT%%><%%VALUE(amount)%%><%%ENDSELECT%%></td>
		<td id="loan-costs-<%%VALUE(id)%%>" class="loan-costs text-left"><%%SELECT%%><%%VALUE(costs)%%><%%ENDSELECT%%></td>
		<td id="loan-apr-<%%VALUE(id)%%>" class="loan-apr text-left"><%%SELECT%%><%%VALUE(apr)%%><%%ENDSELECT%%></td>
		<td id="loan-outstanding-<%%VALUE(id)%%>" class="loan-outstanding text-left"><%%SELECT%%><%%VALUE(outstanding)%%><%%ENDSELECT%%></td>
		<td id="loan-lender_id-<%%VALUE(id)%%>" class="loan-lender_id text-left"><%%SELECT%%><%%VALUE(lender_id)%%><%%ENDSELECT%%></td>
		<td id="loan-lender_ref-<%%VALUE(id)%%>" class="loan-lender_ref text-left"><%%SELECT%%><%%VALUE(lender_ref)%%><%%ENDSELECT%%></td>
