<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the property_init() hook (in hooks/property.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="property-id-<%%VALUE(id)%%>" class="property-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="property-partner_id-<%%VALUE(id)%%>" class="property-partner_id text-left"><%%SELECT%%><%%VALUE(partner_id)%%><%%ENDSELECT%%></td>
		<td id="property-referer-<%%VALUE(id)%%>" class="property-referer text-left"><%%SELECT%%><%%VALUE(referer)%%><%%ENDSELECT%%></td>
		<td id="property-address_id-<%%VALUE(id)%%>" class="property-address_id text-left"><%%SELECT%%><%%VALUE(address_id)%%><%%ENDSELECT%%></td>
		<td id="property-contact_date-<%%VALUE(id)%%>" class="property-contact_date text-left"><%%SELECT%%><%%VALUE(contact_date)%%><%%ENDSELECT%%></td>
		<td id="property-purchase_date-<%%VALUE(id)%%>" class="property-purchase_date text-left"><%%SELECT%%><%%VALUE(purchase_date)%%><%%ENDSELECT%%></td>
		<td id="property-detachment-<%%VALUE(id)%%>" class="property-detachment text-left"><%%SELECT%%><%%VALUE(detachment)%%><%%ENDSELECT%%></td>
		<td id="property-type-<%%VALUE(id)%%>" class="property-type text-left"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></td>
		<td id="property-tenancy_type-<%%VALUE(id)%%>" class="property-tenancy_type text-left"><%%SELECT%%><%%VALUE(tenancy_type)%%><%%ENDSELECT%%></td>
		<td id="property-no_beds-<%%VALUE(id)%%>" class="property-no_beds text-right"><%%SELECT%%><%%VALUE(no_beds)%%><%%ENDSELECT%%></td>
		<td id="property-notes-<%%VALUE(id)%%>" class="property-notes text-left"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></td>
