<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the property_init() hook (in hooks/property.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="property-id-<%%VALUE(id)%%>" class="property-id text-right"><%%VALUE(id)%%></td>
		<td id="property-partner_id-<%%VALUE(id)%%>" class="property-partner_id"><%%VALUE(partner_id)%%></td>
		<td id="property-referer-<%%VALUE(id)%%>" class="property-referer"><%%VALUE(referer)%%></td>
		<td id="property-address_id-<%%VALUE(id)%%>" class="property-address_id"><%%VALUE(address_id)%%></td>
		<td id="property-contact_date-<%%VALUE(id)%%>" class="property-contact_date"><%%VALUE(contact_date)%%></td>
		<td id="property-purchase_date-<%%VALUE(id)%%>" class="property-purchase_date"><%%VALUE(purchase_date)%%></td>
		<td id="property-detachment-<%%VALUE(id)%%>" class="property-detachment"><%%VALUE(detachment)%%></td>
		<td id="property-type-<%%VALUE(id)%%>" class="property-type"><%%VALUE(type)%%></td>
		<td id="property-tenancy_type-<%%VALUE(id)%%>" class="property-tenancy_type"><%%VALUE(tenancy_type)%%></td>
		<td id="property-no_beds-<%%VALUE(id)%%>" class="property-no_beds text-right"><%%VALUE(no_beds)%%></td>
		<td id="property-notes-<%%VALUE(id)%%>" class="property-notes"><%%VALUE(notes)%%></td>
