<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the psn_type_init() hook (in hooks/psn_type.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="psn_type-type-<%%VALUE(id)%%>" class="psn_type-type text-left"><%%VALUE(type)%%></td>
		<td id="psn_type-description-<%%VALUE(id)%%>" class="psn_type-description text-left"><%%VALUE(description)%%></td>
